
<div class='row'>
      <div class='col-md-3'>
      </div>  
      <div class='col-md-4'>
        <h2>SIGN UP</h2>
        <p>me likey coffee</p>
        <%= link_to 'Sign Up', new_user_path, class: 'btn btn-primary' %>
      </div>
      <div class='col-md-4'>
        <h2>SIGN IN</h2>
        <p>baby i lovveeee  yooouu</p>
        <%= link_to 'Sign In', new_session_path, class: 'btn btn-success' %>
     </div>
     <div class='col-md-2'>
      </div> 
</div>      