// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.box {
  margin-left: 100px;
  position: relative;
}

div.col-centered {
  margin: 0 auto;
}

img.container {
  margin: 0 auto;

}

.container {
  text-align: center;
}

.btn, .btn-primary, .btn-lg, {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  color: pink;
  background: none;
  border: 4px pink solid;
  text-transform: uppercase;
  font-weight: bold;

  
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  color: pink;
  background: none;
  border: 4px pink solid;
  text-transform: uppercase;
  font-weight: bold;
}


.btn-lg:hover {
  color: #fff;
  background-color: pink;
  border-color: #ffffff;
}


.list-view td {
  padding: 0 10px;
}

img.list-img {
  max-height: 60%;
}

.top-row {
  font-weight: bold;
}
div.heading {
  margin-bottom: 20px;
}


tr.show {
  padding: 10px;
}

.show td {
  padding: 15px;
  font-size: 1.5em;
}